<div class="row">
  <div class="col-md-3">
    <h4>Project name:</h4>
  </div>
  <div class="col-md-3">
    <h4><%= @project.name() %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h4>Total volunteer hours:</h4>
  </div>
  <div class="col-md-3">
    <h4><%= @project.hours() %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h4>Volunteers</h4>
  </div>
  <div class="col-md-3">
    <% if @project.volunteers().any?() %>
      <% @project.volunteers().each() do |volunteer| %>
        <h5><%= volunteer.name() %></h5>
      <% end %>
    <% else %>
      <p>There are no volunteers added yet!</p>
    <% end %>
  </div>
</div>



<div class="row">
  <br>
  <div class="col-md-2">
    <a href="/projects" class = "btn btn-success active" role = "button">Go Back</a>
  </div>
  <div class="col-md-3">
    <form action="/projects/<%= @project.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <button class = "btn btn-primary active" type="submit">Refresh volunteer hours</button>
    </form>
  </div>
  <div class="col-md-3">
    <form action="/project/rename/<%= @project.id() %>" method="post">
      <button class = "btn btn-warning active" type="submit">Rename <%= @project.name() %></button>
    </form>
  </div>
  <div class="col-md-3">
    <form action="/projects/<%= @project.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class = "btn btn-danger active" type="submit">Delete <%= @project.name() %></button>
    </form>
  </div>
</div>
